.cursor-pointer{
  cursor: pointer;
}
.game:hover{
  background-color: #fcfcfc;
  // border-color: black !important;
}
.game-card:hover{
  background-color: #fcfcfc;
  border-color: black !important;

}